<div>
  <div *ngIf="currentPost.id" class="edit-form">
    <h4>Post</h4>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentPost.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <input
          type="text"
          class="form-control"
          id="content"
          [(ngModel)]="currentPost.content"
          name="content"
        />
      </div>

      <div class="form-group">
        <label><strong>Status:</strong></label>
        {{ currentPost.published ? "Published" : "Pending" }}
      </div>
    </form>

    <button
      class="badge badge-primary mr-2"
      *ngIf="currentPost.published"
      (click)="updatePublished(false)"
    >
      UnPublish
    </button>
    <button
      *ngIf="!currentPost.published"
      class="badge badge-primary mr-2"
      (click)="updatePublished(true)"
    >
      Publish
    </button>

    <button class="badge badge-danger mr-2" (click)="deletePost()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updatePost()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentPost.id">
    <br />
    <p>No Data</p>
  </div>
</div>
